# stac-utils

Tools for working with [SpatioTemporal Asset Catalogs (STAC)](https://stacspec.org/).

## How to find what you need

This organization has a large number of repositories in a variety of languages for many types of users.
Here, we categorize each repository by its utility to users as described on [STAC website](https://stacspec.org):

- 👩‍🍳 **Data providers** produce geospatial data and index those data with STAC
- 💁‍♂️ **Developers** build and maintain infrastructure to serve STAC to the world
- 😋 **Data users** use STAC to find, visualize, and use geospatial data

Each table is sorted by the number of Github stars at the time of the file render.
Any issues with or updates to these tables can be opened on the stac-utils [.github](https://github.com/stac-utils/.github).
For more information on each repository, see its respective README.

### Python

{{ repositories|category("python")|table }}

### Javascript

{{ repositories|category("javascript")|table }}

### Other

These provide tooling for other languages, databases, visualizations, and other functionality.

{{ repositories|category("other")|table }}

## Questions or issues?

For general questions, use [the "STAC software" category stac-spec discussions](https://github.com/radiantearth/stac-spec/discussions).
For repository-specific questions or issues, use that repository's discussions or issues page.
For issues with this text, use [the organization's .github repository's issues page](https://github.com/stac-utils/.github/issues).
